footer {
  color: #fff;
  background: #21afff url(./footerimg.png) bottom;
  text-align: center;
  font-size: 20px;
  grid-area: footer;
  padding: 30px;
}
footer p {
  margin-bottom: 10px;
}
footer .heart {
  font-size: 25px;
  vertical-align: middle;
}