.filter-options {
  margin-top: 15px;
}
.filter-options .select-size,
.filter-options .select-price {
  display: flex;
  justify-content: center;
}
.filter-options .select-size .item,
.filter-options .select-price .item {
  height: 27px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background: #21aaff;
  border: 0;
  font-weight: 400;
  padding: 0 16px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px;
}
.filter-options .select-size .item.active,
.filter-options .select-price .item.active {
  background-color: #fff;
  color: #21aaff;
}
.filter-options .select-size .item:hover,
.filter-options .select-price .item:hover {
  background-color: #fff;
  color: #21aaff;
}

@media (max-width: 767px) {
  .filter-options {
    margin-top: 10px;
  }
  .filter-options .select-size,
.filter-options .select-price {
    flex-wrap: wrap;
  }
  .filter-options .select-size .item,
.filter-options .select-price .item {
    margin: 0;
    padding: 0 14px;
    width: 30%;
    height: 20px;
    font-size: 14px;
  }
}